.fav {
    display: grid;
    justify-content: center;
    gap: 20px;
    margin: 10px auto;
  }
 
  
  /* Responsive Styling */
  @media (min-width: 768px) {
    .fav {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .fav {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  
    
  
  